h3 File format help
p
p
| The input file should be a tab-delimited text file containing chromosome names and coordinates. Allowed formats include BED, GFF, and ENCODE narrowPeak or broadPeak, or any file with the same columns of information. Chromosome names should be located in the first column, in the format "chr1", "chr2", etc. 
p
a href="http://genome.ucsc.edu/FAQ/FAQformat.html" UCSC FAQ: Data file formats
p
p
h3 Species detection
p
p
| The species is automatically identified based on the fact that humans have more chromosomes than mice. A files containing any data from chromosomes 20, 21, and/or 22 is likely to be human data, while a file without any data from those chromosomes is likely to be mouse data. 
p
| Graph axes are automatically set to the lengths of the chromosomes obtained from the Genome Reference Consortium (GRCm38.p2 for mouse, and GRCh37.p13 for human). These lengths have remained fairly constant (no more than ~1% change in length) for the past several genome builds, so the graph axes are also roughly compatible with data aligned to any of the past several genome builds (e.g. mm8, mm9, or mm10 for mouse data; hg17, hg18, or hg19 for human data).
p
| If a file is uploaded that contains too few chromosomes to be mouse data (i.e. no data from chromosomes 18 or 19), the species is considered "unknown" and the x-axis limits are determined by the data itself. This makes it possible, although not necessarily recommended, to use PeakPortrait to display data from other species including C. elegans or A. thaliana.
p
p
h3 How are the peak widths and intensities used? 
p
p
| If the "use peak widths" option is selected, each region is weighted by its width, so that wide regions are weighted more heavily than small regions. 
p
| If a column of intensity/score values is selected, each region is weighted by its intensity, so that regions of high intensity are weighted more heavily than those of lesser intensity. (For BED and ENCODE files, intensity values are usually located in column 5. For GFF files, intensity values are usually located in column 6.)
p
p
| If both options are selected, both intensity and width will be used for weighting (as intensity * width). If neither option is selected, each region in the input file will be weighted equally in the graph. 
p
