

$blue:#164A44;
$green:#27621E;
$grey: #3C5552;
$white:#FFFFFF;
$lightgreen:#96CA8E;
$lightblue:#8FB7B3;

$background:$white;
$logo-color:$blue;
$heading-color:$blue;

/* This CSS is used for the Show/Hide functionality. */
   .more {
      display: none;
      border-top: 1px solid #FFFFFF;
      border-bottom: 1px solid #FFFFFF; }
   a.showLink, a.hideLink {
      text-decoration: none;
        font-size: 24px;
      color: $grey;
      padding-left: 8px; }
   a.hideLink { }
   a.showLink:hover, a.hideLink:hover, a.showLink:visited {
      border-bottom: 1px dotted $grey; color: $grey; }


#wrapper {
     width: 800px;
     margin: 0 auto;
}

body{
  background:$background;
  padding:20px;
  margin:2px;
  max-width:900px;
  } 

header{
  color:$blue;
  padding:1px;
  font-weight:bold;
  text-align:center;
  max-width:900px;
  border-bottom-style: double;
  border-bottom-width:2px 0;
  border-bottom-color:$blue;
}

h1.logo{
  font-family: helvetica,arial,sans-serif;
  font-size: 80px;
  color:$logo-color;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:20px;
  margin-top:10px;
  width:70%;
  text-align: center;
  font-weight: normal;
  background: transparent url(/logo.png) 10% 0 no-repeat;
  }

h2{
  margin: 0 0 10px 0;
}

h3{
    margin: 5px;
    text-align: center;
}

.nav{
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
}
.nav a:link,a:visited{
    display:inline-block;
    padding:10px;
    text-decoration:none;
    text-transform:uppercase;
    font-weight:bold;
    color:$grey;
}
.nav a:hover,a:active{
background-color:$lightblue;
}


.about{
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.about li{
    display:inline;
}
.about a:link,a:visited{
    display:inline-block;
    padding:10px;
    text-decoration:none;
    font-size:12px;
    color:$grey;
}


