
@import "bootstrap";

$button: #1C4570;
$buttonhover: #193E65;
$logo: #005C5C;
$white:#FEFEFE;
$darktext: #122B47;
$background:#EBF1F1;
$almostblack: #292929;


body{
  background:$background;
  padding:10px;
  margin:10px;
  } 

header{
  padding:20px;
  font-weight:bold;
  text-align:center;
}

h3 {
  color: $buttonhover;
  padding-bottom: 10px;
}

.form-group{
  padding: 5px 1px 5px 20px;
}
.bs-callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-radius:3px;
}

.bs-callout-info {
  background-color: $white;
  color: $almostblack;
}

.bs-callout h4 {
  margin-top: 0;
  font-size: 24px;
  color: $darktext;
}

.nav a:link,a:visited{
    padding:10px;
    text-decoration:none;
    font-weight:bold;
    color:$logo;
}

.navbar {
   background-color: $white;
    background-image: none;
    height:55px;
}

.navbar .nav-pills > .active > a {
  background-color: $button;
}
.navbar .nav-pills > .active > a:hover,
.navbar .nav-pills > .active > a:focus {
  background-color: $buttonhover;
}

.navbar .navbar .container .nav { 
    padding-top: 6px
    }

.navbar-brand{
  font-size: 35px;
  text-shadow: 0 1px 1px rgba(0,0,0,0.2);
  color: $logo;
}

.btn-primary {
  background-color: $button;
}

.btn-primary:hover {
  background-color: $buttonhover;
}

input[type="radio"]{margin:1px 8px 1px 8px;}